
//- declarando variables(estas son javascript puro)
- name     = "Jan Sanchez"
- bodyClasses = ['user', 'authenticated']

body(class=bodyClasses)

	input(type='text', value='Hello #{name}')

	input(checked=true, disabled=false)

	input(
		type='checkbox',
		name='agreement',
		checked
	)



