include ../config/page.jade
doctype 5
//if lt IE7
html.ie6(lang='#{page.lang}', xmlns:fb='http://ogp.me/ns/fb#')
//if IE 7
html.ie7(lang='#{page.lang}', xmlns:fb='http://ogp.me/ns/fb#')
//if IE 8
html.ie8(lang='#{page.lang}', xmlns:fb='http://ogp.me/ns/fb#')
//if IE 9
html.ie9(lang='#{page.lang}', xmlns:fb='http://ogp.me/ns/fb#')
// [if (gt IE 9)|!(IE)] <!
html(lang='#{page.lang}', xmlns:fb='http://ogp.me/ns/fb#')
	// <![endif]
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= page.title
		meta(name="title", content="#{page.title}")
		meta(name="description", content="#{page.description}")
		meta(name="keywords", content="#{page.keywords}")
		meta(name="author", content="#{page.author}")
		meta(name="viewport", content="width=device-width")
		meta(name="language", content="#{page.lang}")
		meta(name="robots", content="index,follow")

		script(type='text/javascript', src='js/libs/html5shiv.js?v=version')
		script(type='text/javascript', src='js/libs/selectivizr.js?v=version')
		script(type='text/javascript', src='js/ie.js?v=version')

		meta(name="geo.region", content="PE-LIM")
		meta(name="geo.placename", content="Cercado de Lima")
		meta(name="geo.position", content="-12.0478;-77.0622")
		meta(name="ICBM", content="-12.0478, -77.0622")

		meta(property="og:title", content="#{page.title}")
		meta(property="og:description", content="#{page.description}")
		meta(property="og:image", content="#{page.img}")
		link(href="#{page.img}", rel="image_src", type="image/jpeg")

		link(href="#{page.favicon}", rel="icon", type="image/vnd.microsoft.icon")
		link(href="#{page.favicon}", rel="shortcut icon", type="image/x-icon")

		script(type='text/javascript', src='js/libs/html5shiv.js?v=version')
		script(type='text/javascript', src='js/libs/selectivizr.js?v=version')
		script(type='text/javascript', src='js/ie.js?v=version')

		meta(name="DC.Title", content="#{page.title}")
		meta(name="DC.Creator", content="#{page.name}")
		meta(name="DC.Description", content="#{page.description}")
		meta(name="DC.Publisher", content="#{page.name}")
		meta(name="DC.Contributor", content="#{page.developer}")
		meta(name="DC.Language", content="#{page.lang}")

		//if lt IE 9
			script(type='text/javascript', src='js/libs/html5shiv.js?v=version')
			script(type='text/javascript', src='js/libs/selectivizr.js?v=version')
			script(type='text/javascript', src='js/ie.js?v=version')

		link(href='css/layout.css?v=version', rel='stylesheet', type='text/css')
		link(href='css/portada.css?v=version', rel='stylesheet', type='text/css')

		//- open graph
		meta(property='og:title', content='#{page.title}')
		meta(property='og:description', content='#{page.description}')
		meta(property='og:image', content='#{page.img}')

		//- Favicon
		//-link(rel='apple-touch-icon', href='img/favicon-iphone.png')
		link(href='img/favicon.ico', rel='shortcut icon', type='image/x-icon')
	body
		include partials/header.jade
		#wrapper
			block content
		include partials/footer.jade